<div ng-controller="ListadoController">
    <h5 class="text-center">Lista de archivos multimedia declarados</h5>
    <div class="alert alert-info text-center text-capitalize">
        <strong>Información</strong> Aquí se encuentra la lista de archivos multimedia encontrados y declarados por el
        usuario, indistintamente si es publicidad o música para su reproducción
    </div>
    <div class="card">
        <nav class="nav nav-pills nav-fill">
            <button type="button" ng-click="cargar()" class="btn btn-primary"><span
                    class="glyphicon glyphicon-refresh"></span> Recargar
            </button>
            <button type="button" ng-click="desseleccionartodos()" class="btn btn-light">Desseleccionar todos</button>
            <button type="button" ng-click="seleccionartodos()" class="btn btn-light"><span
                    class="glyphicon glyphicon-list-alt"></span> Seleccionar todos
            </button>
            <div class="dropdown">
                <!--
                <button ng-disabled="albumes.length == 1 || canciones.length == 0"
                        class="btn btn-warning dropdown-toggle"
                        type="button" id="mostraralbumpormenu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Mostrar por album
                </button>
                <div class="dropdown-menu" aria-labelledby="mostraralbumpormenu" >
                    <button class="dropdown-item" type="button" ng-click="mostrarporalbum('');"
                            ng-class="{'active' : '' == albumseleccionado }">Todos
                    </button>
                    <button ng-repeat="albumes in albumes" class="dropdown-item" type="button"
                            ng-class="{'active' : albumes.dato == albumseleccionado }"
                            ng-click="mostrarporalbum(albumes.dato);">{{albumes.dato}}
                    </button>
                </div>-->
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        ng-disabled="listadomultimediaop.selection.getSelectedCount() == 0" type="button"
                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cambiar de album
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button ng-repeat="albumes in albumes" class="dropdown-item" type="button"
                            ng-click="cambiaralbum(albumes.dato);">{{albumes.dato}}
                    </button>
                </div>
            </div>
            <div class="dropdown">
                <button ng-disabled="listadomultimediaop.selection.getSelectedCount() == 0"
                        class="btn btn-warning dropdown-toggle" type="button" id="habilitardeshabilitarmenu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Des/Habilitar Música
                </button>
                <div class="dropdown-menu" aria-labelledby="habilitardeshabilitarmenu">
                    <button ng-disabled="listadomultimediaop.selection.getSelectedCount() == 0"
                            type="button"
                            ng-click="anularseleccionados()" class="dropdown-item">Anular seleccionados
                    </button>
                    <button ng-disabled="listadomultimediaop.selection.getSelectedCount() == 0 "
                            type="button"
                            ng-click="habilitarseleccionados()" class="dropdown-item">Habilitar seleccionados
                    </button>
                </div>
            </div>


            <button ng-disabled="listadomultimediaop.selection.getSelectedCount() == 0 " type="button"
                    ng-click="borrarseleccionados()" class="btn btn-danger">Borrar
            </button>
        </nav>
        <div class="d-flex justify-content-start">
            <label for="buscar">Buscar:</label>
        <input type="text" ng-model="buscar" ng-change="buscarcambia()" id="buscar">
        </div>
        <div id="grid1Selection" ui-grid="listadomultimedia" ui-grid-selection ui-grid-cellnav class="grid"></div>

    </div>
    <div ng-show="cancionesseleccionadas === undefined" class="alert alert-info text-center text-capitalize">hay
        {{cancionesseleccionadas}} seleccionada/s
    </div>
    <button type="button" class="btn btn-outline-primary" ng-click="mostraronorutas();">Mostrar rutas</button>
</div>      


